body {
    background-image: url('imghtml/fundohtml.jpg'); 
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
header {
    background-color:black; /* Cor de fundo da navbar */
    color: #fff; /* Cor do texto na navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo img {
    max-width: 80px; /* Largura máxima do logotipo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #d30d0d;
    font-weight: bold;
}

nav a:hover {
    color: #ff4500; /* Cor quando o mouse passa por cima */
}
/* Estilo para o carrossel */
.carousel-item {
    display: inline-block;
}
.carousel-item img {
    width: 200px; /* Defina a largura desejada em pixels */
    height: auto; /* Isso manterá a proporção original da imagem */
}
.carousel-item.active img{
    width: 500px; /* Defina a largura desejada em pixels */
    height: auto; /* Isso manterá a proporção original da imagem */
}
.carousel-item.active2 img{
    width: 200px; /* Defina a largura desejada em pixels */
    height: auto;
}
.carousel-item3 img{
    width: 500px; /* Defina a largura desejada em pixels */
    height: auto;
}
