body {
    background-image: url('imghtml/fundohtml.jpg'); 
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
header {
    background-color:black; /* Cor de fundo da navbar */
    color: #fff; /* Cor do texto na navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo img {
    max-width: 80px; /* Largura máxima do logotipo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #d30d0d;
    font-weight: bold;
}

nav a:hover {
    color: #ff4500; /* Cor quando o mouse passa por cima */
}
/* Estilo para o carrossel */
#meuCarrossel {
    max-width: 1000px; /* Defina a largura máxima do carrossel conforme desejado */
    margin: 100px auto 0; /* Adicione margem superior de 100px (ajuste conforme necessário) */
  }
  
  /* Estilo para as imagens dentro do carrossel */
  .carousel-item img {
    max-width: 100%; /* A imagem não pode ser maior que a largura máxima do carrossel */
    height: auto; /* Mantenha a proporção de aspecto da imagem */
  }
  .links{
    color: white;
    background-color: #ff4500;
  }
  .titulo {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
